<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4" style="background-color: #673ab7; height: 20px;">
  </div>
  <div class="col" style="background-color: #320b86; height: 20px;">
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4" style="padding: 50px;">
    <div>
      <img src="assets\images\profilepic.png" alt="profile picture" class="img-fluid rounded" width="200">
      <h1 class="name">{{ name }}</h1>
      <p class="title">{{ jobTitle }}</p>
    </div>
    <ul class="mt">
      <li *ngFor="let contactInfo of contactInfos">
        <b style="color: #320b86;">{{ contactInfo.method }}: </b>
        <a *ngIf="contactInfo.link; else nolink" [href]="contactInfo.link">{{ contactInfo.value }}</a>
        <ng-template #nolink>{{ contactInfo.value }}</ng-template>
      </li>
    </ul>
    <div class="mt header">About me</div>
    <p *ngFor="let statement of statements">{{ statement }}</p>
    <div class="mt header">Job at EF</div>
    <p *ngFor="let experience of workExperience">{{ experience }}</p>
    <div class="mt header">Language</div>
    <ul>
      <li *ngFor="let lang of languages">
        <b>{{ lang.name }}: </b>
        <b style="color: #320b86;">{{ lang.level }}</b>
      </li>
    </ul>
  </div>
  <div class="col" style="background-color: #e8e6ec; padding: 50px;">
    <app-timeline></app-timeline>
    <app-skill></app-skill>
    <app-portfolio></app-portfolio>
  </div>
</div>

<router-outlet></router-outlet>