.stage-dates {
  display: flex;
  flex-direction: column;
}

.event-ctrls {
  display: table-cell;
  width: 490px;
}

.event-ctrls .mat-button-base {
  margin: 8px 8px 8px 0;
}

mat-chip {
  color: white !important;
}