<div class="row">
  <div class="col-2"></div>
  <div class="col">
    <mat-chip-list aria-label="event type selection">
      <mat-chip *ngFor="let eventType of eventTypeOptions" 
        [ngStyle]="{ 'background-color': eventType.color }">
          {{ eventType.name }}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
<div style="padding: 10px;"></div>
<app-timeline-block *ngFor="let stage of timelineStages;" 
  [stage]="stage"
  [eventColorPalette]="eventTypeColorPalette">
</app-timeline-block>
<!-- <button mat-raised-button color="primary" *ngIf="!openTimelineEdit" (click)="onOpenNewStageEntryEdit()">+Stage</button> -->
<form *ngIf="openTimelineEdit" [formGroup]="timelineForm" (ngSubmit)="onSubmit()">
  <div class="stage-dates">
    <mat-form-field appearance="fill">
      <mat-label>The start date of this stage</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Text label of the start date</mat-label>
      <input matInput placeholder="Ex. 2015" formControlName="dateString">
    </mat-form-field>
  </div>
  <ng-container formArrayName="events">
    <div *ngFor="let event of events.controls; let i=index">
      <label>Event: {{ i + 1 }}</label>
      <div [formGroupName]="i" class="stage-dates">
        <mat-form-field appearance="fill">
          <mat-label>Date of the event</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Event type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let eventType of eventTypeOptions" [value]="eventType.name">
              {{ eventType.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Ex. born in Baotou, China" formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Details</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..." formControlName="detail"></textarea>
        </mat-form-field>
      </div>
    </div>
  </ng-container>
  <div class="event-ctrls">
    <button mat-raised-button (click)="addEvent()" type="button">+Event</button>
    <button mat-raised-button color="primary" class="button" type="submit">Confirm</button>
    <button mat-raised-button color="accent" type="button" (click)="onCancelStageEdit()">Cancel</button>
  </div>
</form>