.project-card {
    border-radius: 0;
    border: 2px solid #320b86;
}

mat-card-title {
    font-size: 16px;
    font-weight: 400;
}

mat-card-subtitle {
    margin-bottom: 0;
}

.material-icons {
    font-size: 16px;
}

.project-img {
    width: 100px;
    height: 100px;
    margin: -16px -16px -16px 0;
}