<div class="header" style="margin-top: 50px;">Skills</div>
<table>
    <thead>
        <tr>
            <td></td>
            <td *ngFor="let skillLevel of skillLevels">{{ skillLevel }}</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let skill of skills">
            <th *ngIf="skill.page; else nopage">
                <a [href]="skill.page" style="color: #212529; text-decoration: none;">
                    {{ skill.name }}
                    <span class="material-icons">open_in_new</span>
                </a>
            </th>
            <ng-template #nopage>
                <th>{{ skill.name }}</th>
            </ng-template>
            <td *ngFor="let sl of skillLevels; let i = index">
                <div [style.background-color]="i < skill.level ? '#9a67ea' : null"> </div>
            </td>
        </tr>
    </tbody>
</table>
