<div class="main-container container">
  <div class="row">
    <div class="col-3">
      <img src="assets\images\profilepic.png" alt="profile picture" class="img-fluid rounded" width="200">
      <h1 class="name">Chuan Sun</h1>
      <p class="title">Graduate Student</p>
      <mat-divider></mat-divider>
      <h2 class="about">About me</h2>
      <p>I have always believed that nothing is impossible. I have a strong learning ability, even if I encounter 
        unknown problems or enter unknown areas. I can quickly build up my understanding of a new technology and 
        make use of my knowledge flexibly. I love and enjoy the process of learning, creating, and problem-solving 
        because once a problem is solved, its a huge motivation for me.</p>

    </div>
    <div class="col">
      <app-timeline></app-timeline>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
