.main-container {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

.spacer {
  flex: 1 1 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.mat-toolbar {
  background-color: #673ab7;
  color: white;
}

.mat-toolbar .mat-toolbar-row {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 16px;
  padding-right: 16px;
}